:root {
	--black1: #3B4455;
	--black2: #4c566a;
	--white1: #E5E9F0;
	--red: #BF616A;
	--orange: #d08770;
	--yellow: #ebcb8b;
	--green: #a3be8c;
	--purple: #b48ead;
}

body {
	font-family: "Fira Code", monospace;
	color: var(--white1);
	background: var(--black2);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar */
.navbar {
	z-index: 1;
	overflow: hidden;
  	background-color: var(--black1);
  	position: fixed; 
  	top: 0; 
  	width: 100%; 
}

.navlist-left {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.navlist {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.nav-item {
	display: inline;
}

.nav-item-left {
	float: left;
}

.nav-item-right {
	float: right;
}

.nav-item a {
	display: block;
	padding: 12px 12px;	
	color: var(--white1);
	text-align: center;
	text-decoration: none;
}

.nav-item a:hover {
    background: var(--white1);
	color: var(--black1);
}

#cv-item a {
	color: var(--white1);
    background: var(--red);
}

#cv-item a:hover {
	color: var(--white1);
    background: var(--green);
}

/* Section */
.section {
	position: absolute;
	top: 10%;
	margin: 10%;
	text-align: left;
}

/* Footer */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  	background-color: var(--black1);
  	position: fixed; 
}

.copyright {
	text-align: center;
	color: var(--black2);
}
