:root {
	--black1: #3B4455;
	--white1: #E5E9F0;
	--red: #BF616A;
}

body {
	font-family: "Fira Code", monospace;
	color: var(--white1);
	background-color: var(--black1);
}

#main-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}
